<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>First Recorder</title>
        <link rel="stylesheet" type="text/css" href="index.css" />
        <link href="https://fonts.googleapis.com/css?family=Righteous|Ubuntu" rel="stylesheet"> 
    </head>
    <body>
        <div class="grid"><div id="space" class="col-1-1 module">
            <div class="grid">
                <a class="col-1-4" href="/"><img src="/pictures/FR Logo.png" alt="" /></a>
                <a class="col-1-4" href="/"><h3 class="text2">Home</h3></a>
                <a class="col-1-4" href="/logIn"><h3 class="text2">Log In</h3></a>
                <a class="col-1-4" href="/newReport"><h3 class="text2">New Report</h3></a>
            </div>
        </div></div>
        {{{body}}}
    </body>
</html>