<div>
    <div class="grid">
        <div class="col-1-1">
            <div class="module">
                <h1 class="text3 center">Assessment Triangle{{#if reportName}}: {{/if}}{{reportName}}</h1>
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="col-1-1">
            <div class="tri-1"><a href="/sceneSizeup"><div class="within-tri-1"><br /><p class="inner-tri-1">SS</p></div></a></div>
            <div class="after-1"></div>
            <div class="trap-2"><a href="/initialAssessment"><div class="within-trap-2"><p class="inner-trap-2">IA</p></div></a></div>
            <div class="after-2"></div>
                <div class="trap-3-1"><a href="/headToToe"><div class="within-trap-3-1"><p class="inner-trap-3-1">H2T</p></div></a></div>
                <div class="square-3-2-0"><div class="after-square-3-2-0"></div></div>
                <div class="square-3-2"><a href="/vitalSigns"><div class="within-square-3-2"><p class="inner-square-3-2">VS</p></div></a></div>
                <div class="square-3-2-2"><div class="after-square-3-2-2"></div></div>
                <div class="trap-3-3"><a href="/sampleHistory"><div class="within-trap-3-3"><p class="inner-trap-3-3">SH</p></div></a></div>
            <div class="after-3"></div>
            <div class="trap-4"><a href="/vitalSigns"><div class="within-trap-4"><p class="inner-trap-4">RA</p></div></a></div>
            <div class="after-4"></div>
            <div class="trap-5"><a href="/document"><div class="within-trap-5"><p class="inner-trap-5">Doc</p></div></a></div>
        </div>
    </div>
</div>