<div class="grid">
    <div class="col-1-1">
        <div class="module">
            <h1>New Report</h1>
        </div>
    </div>
    <div class="col-1-1">
        <div class="module">
            <form action="/newReport" method="POST">
                <div class="center">
                    <label for="reportName">Report Name: </label>
                    <input type="text" name="reportName" class="text">
                </div><br>
                <div>
                    <button type="submit" class="centerButton">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>