<div class="grid">
    <div class="col-1-1">
        <div class="module center">
            <h1>Sign Up</h1>
        </div>
    </div>
    <div class="col-1-1">
        <div class="module">
            <form action="/newuser" method="POST" class="center">
                <div>
                    <label for="firstName">First Name:</label><br>
                    <input type="text" name="firstName" class="text">
                </div>
                <br>
                <div>
                    <label for="lastName">Last Name:</label><br>
                    <input type="text" name="lastName" class="text">
                </div>
                <br>
                <div>
                    <label for="email">Email:</label><br>
                    <input type="text" name="email" class="text">
                </div>
                <br>
                <div>
                    <label for="department">Department:</label><br>
                    <input type="text" name="department" class="text">
                </div>
                <br>
                <div>
                    <label for="username">User Name:</label><br>
                    <input type="text" name="username" class="text">
                </div>
                <br>
                <div>
                    <label for="password">Password:</label><br>
                    <input type="text" name="password" class="text">
                </div>
                <br>
                <div>
                    <button type="submit" class="centerButton">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>