<div class="grid">
    <div class="col-1-1">
        <div class="module center">
            <h1>Action was Successful!</h1>
        </div>
    </div>
    <div class="col-1-1">
        <div class="module">
            <h3>Current User: {{currentUser}}</h3>
            <h3>Current Report: {{currentReport}}</h3>
        </div>
    </div>
</div>